---
# Default home page with boxes providing collection stats
layout: page
sentence: true
---

{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">
  <div class="col-md-4">
    <h3>Form</h3>
    <button {% if page.sentence %}class="btn-primary"{% endif %} onclick="set_search('sentence')">Sentence</button>
    <button onclick="set_search('parallel period')">Parallel Period</button>
    <button class="button priority">Contrasting Period</button>
    <button class="button priority">AABA</button>
    <button class="button priority">Rounded Binary</button>
    <button class="button priority">Binary</button>
    <button class="button priority">Ternary</button>
    <button class="button priority">Through-composed</button>
    <button class="button priority">Strophic</button>
    <button class="button priority">Popular Verse-Chorus Form</button>
    <button class="button priority">Verse Chorus</button>
    <button class="button priority">Rondo</button>
  </div>
  <div class="col-md-4">  
    <h3>Tonality</h3>
    <button class="button secondary">Major</button>
    <button class="button secondary">Minor</button>
    <button class="button secondary">Pentatonic</button>
    <button class="button secondary">Modal</button>
    <button class="button secondary">Atonal</button>
  </div>
  <div class="col-md-4">
    <h3>Meter/Rhythm</h3>
    <button class="button priority">Simple</button>
    <button class="button priority">Compound</button>
    <button class="button priority">Asymmetrical</button>
    <button class="button priority">Changing</button>
    <button class="button priority">Anacrusis</button>
    <button class="button priority">Syncopation</button>
    <button class="button priority">Hemiola</button>
    <button class="button priority">Ostinato</button>
  </div>
  <div class="col-md-4">
    <h3>Texture</h3>
    <button class="button">Monophony</button>
    <button class="button">Homophony</button>
    <button class="button">Polyphony</button>
    <button class="button">Heterophony</button>
    <button class="button">Aleatory</button>
    <button class="button">Canon</button>
    <button class="button">Call and Response</button>
  </div>
  <div class="col-md-4">
    <h3>Chords</h3>
    <button class="button">Mediant</button>
    <button class="button">16/4</button>
    <button class="button">Secondary Dominant</button>
    <button class="button">Secondary Leading Tone</button>
    <button class="button">N6</button>
    <button class="button">Augmented 6</button>
    <button class="button">CT°7</button>
    <button class="button">Added Tone Chords</button>
    <button class="button">Tone Cluster</button>
    <button class="button">Borrowed Chords</button>
    <button class="button">Subtonic Chord (bVII)</button>
  </div>
  <div class="col-md-4">
    <h3>Progressions</h3>
    <button class="button">Direct Modulation</button>
    <button class="button">Pivot Chord Modulation</button>
    <button class="button">Harmonic Sequence</button>
    <button class="button">Complete Phrase Model</button>
    <button class="button">Descending Tetrachord in Bass</button>
  </div>
  <div class="col-md-4">
    <h3>Cadences</h3>
    <button class="button">Half Cadence</button>
    <button class="button">Imperfect Authentic Cadence</button>
    <button class="button">Perfect Authentic Cadence</button>
    <button class="button">Deceptive Cadence</button>
    <button class="button">Plagal Cadence</button>
    <button class="button">Phrygian Half Cadence</button>
  </div>
  <div class="col-md-4">
    <h3>Non-Chord Tones</h3>
    <button class="button">Double Neighbor Figure</button>
    <button class="button">Appogiatura</button>
    <button class="button">Raised Leading Tone</button>
    <button class="button">Suspension</button>
    <button class="button">Anticipation</button>
  </div>
</div>








  
